.clear {
	clear: both;
}

#tabhead {
	padding: 0;
	border-bottom-width: 0px;
}

#body {
	padding: 0px;
}

#subnav {
	padding: 0px;
}

#footer {
	padding-left: 0;
	padding-right: 0;
}

.uniForm .focused{ background: #444; }

#game_info {
	width: 100%;
	padding: 0;
	margin: 0 0 1em 0;
	clear: both;
	display: table;
	background: #4f4f4f;
	color: #ccc;
	font-weight: bold;
}

#game_info ul {
	display: table-row;
}

#game_info ul li {
	display: table-cell;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

#game_info ul li img {
	margin: 0;
}

#player_badge {
	margin: 0;
	padding: 0;
	width: 48px;
	background: #2f2f2f;
}

#cities_to_win {
	background-color: #9f2727;
	font-size: 110%;
	width: 48px;
}

#game_rules {
	font-size: 70%;
}

#ducats {
	width: 48px;
	background: url('../img/ducat-bg.png') center no-repeat;
	color: black;
	font-size: large;
}

.mailbox_button {
	width: 48px;
}

#unread_count {
	line-height: 48px;
}

.col1,
.col2,
.col3 {
	float: left;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-left: 0;
	margin-right: 1%;
	height: 740px;
	border: solid 1px #444;
}

.col1 {
	display: none;
	width: 12%;
	overflow: auto;
}

.col2 {
	width: 65%;
	padding: 0;
	margin-left; 0.5em
}

.col3 {
	width: 31%;
	overflow: auto;
}

.player {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 120%;
	padding: 0.2em 0.5em;
	border: solid 1px #111;
	-moz-border-radius: 10px;
}

/*
 * Country styles
 */

#countries {
	font-size: small;
}

#countries table {
	width: 100%;
}

#countries table th {
	background: #4f4f4f;
}

#countries .france {
	background: #a375d1;
	color: black;
}

#countries .milan {
	background: #cc0000;
	color: black;
}

#countries .florence {
	background: #66ccff;
	color: black;
}

#countries .austria {
	background: #b8b8b8;
	color: black;
}

#countries .papacy {
	background: #00991a;
	color: black;
}

#countries .venice {
	background: #996600;
	color: black;
}

#countries .turks {
	background: #00cccc;
	color: black;
}

#countries .naples {
	background: #3d3dff;
	color: black;
}
#countries .hre {
	background: #ffdd11;
	color: black;
}
#countries .savoy {
	background: #bbffdd;
	color: black;
}
#countries .spain {
	background: #fcfcfc;
	color: black;
}
#countries .genoa {
	background: #0080ff;
	color: black;
}

.france a,
.france a:visited,
.milan a,
.milan a:visited,
.florence a,
.florence a:visited,
.austria a,
.austria a:visited,
.papacy a,
.papacy a:visited,
.venice a,
.venice a:visited,
.turks a,
.turks a:visited,
.naples a,
.naples a:visited {
	color: #111;
}

#map {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 740px;
}

#letter_box ul, #log ul {
	padding-left: 0;
}

#letter_box li {
	list-style-type: none;
	margin-left: 0;
	padding: 0.2em 0.5em;
	border-top: solid 1px #111;
}

#diplomacy a {
	text-decoration: none;
}

#col .menu {
	height: 5%;
}

#actions {
	width: 70%;
	float: left;
	margin-left: 0.5em;
}

#actions form fieldset {
	width: 90%;
	margin-left: 5%;
	border: solid 1px #666;
}

#actions form textarea {
	width: 100%;
}

.action_block {
	margin-bottom: 0.5em;
	padding: 0 0 0.5em 0;
	background-color: #4f4f4f;
	border-bottom: solid 2px #191919;
}
.action_block a, .action_block a:visited {
	color: #d3a152;
}
.action_block h1, .action_block h2 {
	margin-top: 1em;
	background: #9f2727;
	padding: 0.2em 0.5em;
}

.action_block h3 {
	margin-left: 0;
	font-size: larger;
}

.action_block h3 a {
	margin-left: 0;
	font-size: larger;
	text-decoration: none;
}

.action_block ul {
	padding-left: 1em;
}

.action_block li {
	line-height: 150%;
}

.action_block table {
	margin-left: 10%;
}

.action_form table {
	margin-left: 0;
	width: 100%;
	/*table-layout: fixed;*/
}

.action_form table td {
	width: 15%;
}
/*.action_form select {
	width: 98%;
}*/
#sent_orders {
	padding: 0;
}

#sent_orders li {
	list-style-type: none;
	margin: 2px 1em;
	padding: 0.5em;
	border: solid 1px #444;
}

#mini_shoutbox {
	width: 24%;
	margin-left: 75%;
	padding: 0 0 0.5em 0;
	margin-top: 1em;
	background-color: #4f4f4f;
}

#mini_shoutbox h2 {
	background: #9f2727;
	padding: 0.2em 0.5em;
}

#shoutbox ul li, #mini_shoutbox ul li, #latest_gossip ul li {
	list-style-type: none;
	padding: 0.5em;
}

#shoutbox .date, #mini_shoutbox .date, #latest_gossip .date {
	display: block;
	font-size: smaller;
	color: #ccc;
}

#shoutbox .admin, #mini_shoutbox .admin, #latest_gossip .admin {
	background-color: #c14200;
	font-style: italic;
}

#mini_shoutbox form {
	margin-left: 5%;
}

#mini_shoutbox textarea {
	width: 90%;
}
