#content {
	padding: 0;
	margin: 0;
}

#game_body {
	width: 60%;
	margin-left: 2%;
	float: left;
}

#game_sidebar {
	float: right;
	width: 34%;
	margin: 0 1% 1em 2%;
}

#game_info {
	width: 100%;
	padding: 0;
	margin: 0 0 1em 0;
	clear: both;
	display: table;
	background: #5e7d4d;
	color: #fff;
	text-shadow: 1px 1px #314128;
}

#game_info ul {
	display: table-row;
}

#game_info ul li {
	display: table-cell;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

#game_info ul li img {
	margin: 0;
}

#player_badge {
	margin: 0;
	padding: 0;
	width: 48px;
	background: #2f2f2f;
}

#cities_to_win {
	background-color: #9f2727;
	font-size: 110%;
	width: 48px;
}

#time_remaining {
	padding: 3px;
	border: transparent 1px;
	border-radius: 3px;
	background: #e5e7d9
}

#game_rules {
	font-size: 70%;
}

#ducats {
	width: 48px;
	background: url('../img/ducat-bg.png') center no-repeat;
	color: black;
	font-size: large;
}

.mailbox_button {
	width: 48px;
}

#unread_count {
	line-height: 48px;
}

.player {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 120%;
	padding: 0.2em 0.5em;
	border: solid 1px #111;
	border-radius: 10px;
}

.team_header {
	font-weight: bold;
	font-style: italic;
}

#content #game_sidebar h2 {
	margin-top: 1em;
	margin-left: 10%;
	margin-right: 10%;
	padding: 0;
	font-size: inherit;
	line-height: inherit;
	text-align: center;
	background-color: transparent;
	border-bottom: solid 1px #111;
}

.action_block {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.action_block a:hover {
	color: #e0d1a3;
	background-color: #7f755b;
}

.action_block h3 {
	margin-top: 1em;
}

/*
 * Country styles
 */

#countries table {
	width: 100%;
	table-layout: auto;
	border: solid 1px #111;
}

#countries td {
	padding: 0.2em;
}

#countries table th {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background: #7d603e;
}

.france a,
.france a:visited,
.milan a,
.milan a:visited,
.florence a,
.florence a:visited,
.austria a,
.austria a:visited,
.papacy a,
.papacy a:visited,
.venice a,
.venice a:visited,
.turks a,
.turks a:visited,
.naples a,
.naples a:visited {
	color: #111;
}

#map {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 740px;
	margin-bottom: 1em;
	border: solid 1px #7d603e;
}

#letter_box ul, #log ul {
	padding-left: 0;
}

#letter_box li {
	list-style-type: none;
	margin-left: 0;
	padding: 0.2em 0.5em;
	border-top: solid 1px #111;
}

#diplomacy a {
	text-decoration: none;
}


#team_messages {
	padding: 0.5em 0.5em 0.5em 2em;
	color: #333;	
}

#team_messages div.team_message {
	position: relative;
	margin-bottom: 1em;
	padding: 0.5em 0.5em 1.5em 0.5em;
	background: #ffd073;
}

#team_messages div.own_message {
	background: #fff973;
}

#team_messages .message_info {
	position: absolute;
	left: 1em;
	bottom: 0.5em;
	font-size: smaller;
}

#whispers ul li {
	margin: 0.5em;
	padding: 5px;
	font-size: small;
	border: dotted 1px #7d603e;
	background-color: #fff7e0;
}

#whispers textarea {
	width: 90%;
	margin-left: 5%;
}

#mini_journal p {
	font-size: small;
}

.action_form p {
	padding-bottom: 0.2em;
	border-bottom: solid 1px #e0ddd3;
}

.action_form label {
	font-weight: bold;
}

.action_form select {
	padding: 5px;
}

.turn_process {
	font-family: "Courier New", Courier, monospace;
	font-size: smaller;
	line-height: 16px;
}

#sent_orders {
	padding: 1em;
	border: 1px transparent;
	border-radius: 5px;
	background-color: #e5e7d9;
}

#sent_orders li {
	margin-left: 1em;
	margin-bottom: 0.5em;
	list-style-type: decimal;
}
