.clear {	clear: both;
}

.uniForm .focused{ background: #444; }

tr.open_game {
	background: #c4efc2;
	color: #333;
}

tr.closed_game {
	background: #efc2c2;
	color: #333;
}

tr.open_game a,
tr.closed_game a{
	color: #111;
}

