{% extends "site_base.html" %}

{% load i18n %}
{% load machiavelli_tags %}

{% block head_title %}
{% if player %}
	{% if player.done %}
		[&bull;]
	{% else %}
		[ ]
	{% endif %}
{% endif %}
 {{ game.title }}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}machiavelli/css/game.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}machiavelli/css/logs.css" />
{% block country_styles %}
<style type="text/css">

{% for p in player_list %}
#countries .{{ p.static_name }} {
	background: #{{ p.contender.country.color }};
	color: black;
}
.log_list li span.{{ p.static_name }} {
	background-image: url('{{ MEDIA_URL }}scenarios/badges/icon-{{ p.static_name }}.png');
}
{% endfor %}

</style>
{% endblock %}
{% endblock %}

{% block logo_link_image %}
<a href="{% url home %}"><img class="logo" src="{{ STATIC_URL }}machiavelli/img/game-logo.png" /></a>
{% endblock %}
{% block right_tabs %}{% endblock %}

{% block subnav %}
<ul>
<li><a href="{% url home %}">{% trans "Home" %}</a></li>
<li><a href="{% url new-game %}">{% trans "New game" %}</a></li>
<li><a href="{% url games-joinable %}">{% trans "Join game" %}</a></li> 
{% if user.is_authenticated %}
<li><a href="{% url games-my-active %}">{% trans "Active games" %}</a></li>
<li><a href="{% url games-pending %}">{% trans "Pending games" %}</a></li>
<li><a href="{% url games-my-finished %}">{% trans "Finished games" %}</a></li>
<li><a href="{% url messages_inbox %}">{% trans "Mail" %}({{ messages_inbox_count }})</a></li>
{% else %}
<li><a href="{% url games-other-active %}">{% trans "Active games" %}</a></li>
<li><a href="{% url games-all-finished %}">{% trans "Finished games" %}</a></li>
{% endif %}
<li><a href="{{ STATIC_URL }}machiavelli/img/{% trans "empty-map_en.jpg" %}" target="_blank">{% trans "Map" %}</a></li>
</ul>
{% endblock %}

{% block body %}
<div id="game_info">
<ul>

<li id="cities_to_win">
{% if game.is_team_game %}
30*
{% else %}
{{ game.cities_to_win }}
{% endif %}
</li>

{% if player.contender.country %}
<li id="player_badge">
<img src="{{ MEDIA_URL }}scenarios/badges/badge-{{ player.static_name }}.png" />
</li>
{% endif %}

<li title="{{ game.title }}">{{ game.slug }}</li>
<li>{{ game.year|default_if_none:"" }} |
{{ game.get_season_display|default_if_none:"" }} |
{{ game.get_phase_display }}</li>
<li>
{% if player and game.slots == 0 %}
	{% if time_exceeded %}
	<span style="color: LightCoral">
	{{ game.next_phase_change|timeuntil }} 
	</span>
	{% else %}
	<span style="color: Green">
	{{ player.next_phase_change|timeuntil }}
	</span>
	{% endif %}
{% else %}
	{{ game.next_phase_change|timeuntil }}</li>
{% endif %}
</li>
{% if player %}
<li>
	{% if player.contender.country %}
		{{ player.contender.country }}
		{% if game.is_team_game %}
		({% trans "Team" %} {{ player.team.pk }})
		{% endif %}
	{% endif %}
</li>
{% else %}
<li>
		{% ifnotequal game.slots 0 %}
			<a href="{% url machiavelli.views.join_game game.pk %}">{% trans "Join game" %}</a>
		{% endifnotequal %}
</li>
{% endif %}
{% if rules %}
<li>
{% rule_icons game.configuration %}
</li>
{% endif %}

{% if ducats %}
<li id="ducats" title="{% trans "Treasury" %}">{{ ducats }}</li>
{% endif %}

{% if player %}
{% if game.is_team_game %}
<li><a href="{% url team_messages game.slug %}"><img src="{{ STATIC_URL }}condottieri_messages/img/inbox-icon.png" title="{% trans "Team messages" %}" /></a></li>
{% else %}
	{% if letters %}
	<li class="mailbox_button">
		{% if player.unread_count > 0 %}
		<a href="{% url condottieri_messages_inbox game.slug %}"><img src="{{ STATIC_URL }}condottieri_messages/img/unread-icon.png" title="{% trans "You have new mail" %} ({{ player.unread_count }})" /></a>
		{% else %}
		<a href="{% url condottieri_messages_inbox game.slug %}"><img src="{{ STATIC_URL }}condottieri_messages/img/inbox-icon.png" title="{% trans "Inbox" %}" /></a>
		{% endif %}
	</li>
	<li class="mailbox_button">
		<a href="{% url condottieri_messages_outbox game.slug %}"><img src="{{ STATIC_URL }}condottieri_messages/img/outbox-icon.png" title="{% trans "Outbox" %}" /></a>
	</li>
	{% endif %}
{% endif %}
{% endif %}
</ul>
</div>

{% block game_body %}{% endblock %}

{% endblock %}
