{% extends 'machiavelli/show_game.html' %}

{% load i18n %}

{% block actions %}
<div class="action_block">

<h2>{% trans "Ask for a loan" %}</h2>
<p>{% blocktrans %}You can borrow up to {{ credit_limit }} ducats from a banker or financier. Depending on the term that you choose, you will have to pay an interest. If you can't or don't repay a loan, something very bad will happen to you and, of course, you won't be able to borrow money anymore.{% endblocktrans %}</p>
{% if credit_limit == 0 %}
<p>{% blocktrans %}At this moment you cannot borrow any ducats.{% endblocktrans %}</p>
{% else %}
<p>{% blocktrans %}At this moment you can borrow a maximum of {{ credit_limit }} ducats.{% endblocktrans %}</p>
{% endif %}

<form action="" method="post">
{% csrf_token %}
<table>
{{ form }}
</table>
<p><input type="submit" value="{% trans "Confirm" %}" /></p>
</form>

<p><a href="{% url show-game game.slug %}">{% trans "Return to game" %}</a></p>
</div>
{% endblock %}
