{% extends 'machiavelli/show_game.html' %}

{% load i18n %}

{% block actions %}
<div class="action_block">
<h2>{% trans "Military Adjustment" %}</h2>
<h3>{% trans "Military unit payment" %}</h3>
{% if done %}

<p>{% blocktrans %}At least one player has not yet adjusted his units. You have to wait until all
players have done it or the time limit is reached.{% endblocktrans %}</p>

{% else %}

<p>{% blocktrans %}You must select which of your existing units you will pay
in order to keep them in play. You will pay the cost in ducats of every unit that you
select. The units not selected won't be paid and will be disbanded.</p>{% endblocktrans %}

<form action="{% url show-game game.slug %}" method="post">
{% csrf_token %}

<div class="action_form">
{{ form.as_p }}
<p><input type="submit" value="{% trans "Pay" %}" /></p>
</div>

</form>
{% endif %}
</div>

{% if loan %}
<div class="action_block">
<h2>{% trans "Loans" %}</h2>
<p>{% blocktrans with loan.debt as debt %}You owe {{ debt }} ducats to a banker.{% endblocktrans %}</p>
<p>{% blocktrans with loan.get_season_display as season and loan.year as year %}Your debt must be paid before confirming your orders in the {{ season }} of {{ year }}.{% endblocktrans %}</p>
<p>{% blocktrans %}If you don't repay your debt in the due term, you will be assassinated and, of course, you won't be able to borrow money anymore.{% endblocktrans %}</p>
</div>
{% endif %}
{% endblock %}
