{% extends 'machiavelli/show_game.html' %}

{% load i18n %}

{% block actions %}
<div class="action_block">
<h2>{% trans "Military Adjustment" %}</h2>
<h3>{% trans "Military unit payment" %}</h3>
{% if done %}

<p>{% blocktrans %}At least one player has not yet adjusted his units. You have to wait until all
players have done it or the time limit is reached.{% endblocktrans %}</p>

{% else %}

{% if max_units == 0 %}

<p>{% blocktrans %}You cannot place any new units, either because you don't have enough ducats or you don't have available areas to place them. Please, press the button to end the phase.{% endblocktrans %}</p>

{% else %}

	{% if special_units %}

<p>{% blocktrans %}Using each form below, you can buy a new unit to place in the board. The cost of the
unit depends on its class. Regular units cost 3 ducats, and special units cost more than 3 ducats. See the 'Help' section for more information on special units.{% endblocktrans %}</p>

<p>{% blocktrans %}You cannot place two units in the same area, and you cannot place units in areas where you have not paid the existing units. Also, you cannot buy a special unit if you already have one. If you can't or won't place new units, just push the button.{% endblocktrans %}</p>

	{% else %}

<p>{% blocktrans %}Using each form below, you can buy a new unit to place in the board. Each new unit will cost 3 ducats. You cannot place two units in the same area, and you cannot place units in areas where you have not paid the existing units. If you can't or don't want to place new units, just click on the button.{% endblocktrans %}</p>

	{% endif %}

{% endif %}

<form action="{% url show-game game.slug %}" method="post">
{% csrf_token %}

{% if formset %}

	<div class="action_form">
	<ul>
	{% for dict in formset.errors %}
		{% for error in dict.values %}
			{{ error }}
		{% endfor %}
	{% endfor %}
	{{ formset.non_form_errors|unordered_list }}
	<ul>
	{{ formset.management_form }}

	{# Taken from http://djangosnippets.org/snippets/1442/ #}
	<table style="width: 40%; min-width: 30em;">
	{% for form in formset.forms %}
		{% if forloop.first %}
		<thead><tr>
			{% for field in form.visible_fields %}
			<th>{{ field.label|capfirst }}</th>
			{% endfor %}
		</tr></thead>
		{% endif %}
		<tr>
		{% for field in form.visible_fields %}
			<td>
			{% if forloop.first %}
				{% for hidden in form.hidden_fields %}
				{{ hidden }}
				{% endfor %}
			{% endif %}
				{{ field.errors.as_ul }}
				{{ field }}
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>

{% endif %}

{% if max_units == 0 %}
<p><input type="submit" value="{% trans "Finish" %}" /></p>
{% else %}
<p><input type="submit" value="{% trans "Confirm" %}" /></p>
{% endif %}
</div>

</form>
{% endif %}
</div>

{% if game.configuration.lenders and not player.defaulted %}
{% if credits %}
<div class="action_block">
<h2>{% trans "Loans" %}</h2>

<p>{% blocktrans %}You have debts with a banker. You must pay each loan off before confirming your orders in the season when the term is over.{% endblocktrans %}</p>
<p>{% blocktrans %}If you don't repay your debt in the due term, you will be assassinated and, of course, you won't be able to borrow money anymore.{% endblocktrans %}</p>

<table>
<thead><tr>
<th>{% trans "Debt" %}</th>
<th>{% trans "Term" %}</th>
<th>{% trans "Repay" %}</th>
</tr></thead>
{% for c in credits %}
<tr>
<td>{{ c.debt }}</td>
<td>{{ c.get_season_display }}, {{ c.year }}</td>
<td><a href="{% url return-credit game.slug c.id %}">{% trans "Repay" %}</a></td> 
</tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endif %}

{% endblock %}
