{% extends 'machiavelli/show_game.html' %}

{% load i18n %}

{% block actions %}
<div class="action_block">
<h2>{% trans "Military Adjustment" %}</h2>
<h3>{% trans "Military unit payment" %}</h3>
{% if done %}

<p>{% blocktrans %}At least one player has not yet adjusted his units. You have to wait until all
players have done it or the time limit is reached.{% endblocktrans %}</p>

{% else %}

<p>{% blocktrans %}You must select which of your existing units you will pay
in order to keep them in play. You will pay the cost in ducats of every unit that you
select. The units not selected won't be paid and will be disbanded.</p>{% endblocktrans %}

<form action="{% url show-game game.slug %}" method="post">
{% csrf_token %}

<div class="action_form">
{{ form.as_p }}
<p><input type="submit" value="{% trans "Pay" %}" /></p>
</div>

</form>
{% endif %}
</div>

{% if credits %}
<div class="action_block">
<h2>{% trans "Loans" %}</h2>

<p>{% blocktrans %}You have debts with a banker. You must pay each loan off before confirming your orders in the season when the term is over.{% endblocktrans %}</p>
<p>{% blocktrans %}If you don't repay your debt in the due term, you will be assassinated and, of course, you won't be able to borrow money anymore.{% endblocktrans %}</p>

<table>
<thead><tr>
<th>{% trans "Debt" %}</th>
<th>{% trans "Term" %}</th>
<th>{% trans "Repay" %}</th>
</tr></thead>
{% for c in credits %}
<tr>
<td>{{ c.debt }}</td>
<td>{{ c.get_season_display }}, {{ c.year }}</td>
<td><a href="{% url return-credit game.slug c.id %}">{% trans "Repay" %}</a></td> 
</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% endblock %}
