{% extends "machiavelli/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load avatar_tags %}
{% load machiavelli_tags %}
{% load condottieri_profiles_tags %}

{% block head_title %}{{ game.slug }}{% endblock %}

{% block left_column %}
<h1>{{ game.slug }}</h1>
{% if started %}
	{% if game.paused %}
	<p>{% trans "This game is paused for maintenance. It will be resumed soon." %}</p>
	{% endif %}
{% else %}
	{% if game.slots > 0 %}
	<p>{% blocktrans %}This game has not started, because is has not yet enough players.{% endblocktrans %}</p>
	{% endif %}
	{% if game.slots == 0 and not finished %}
	<p>{% trans "This game will start in a few minutes." %}</p>
	{% endif %}
{% endif %}

<div itemscope itemtype="http://schema.org/Thing" class="game_info {% if game.fast %}fast{% endif %}">
<h2><span itemprop="name"><a href="{{ game.get_absolute_url }}">{{ game.slug }}</a></span>
{% if not started %}
	<span>
		({% trans "Slots" %}: {{ game.slots }})
	</span>
	{% if game.private %}
	<span>{% trans "Private" %}</span>
	{% endif %}
	{% if game.is_team_game %}
	<span>{% trans "Team game" %}</span>
	{% endif %}
{% endif %}
	</h2>

<div class="map">
{% if game.started %}
<img itemprop="image" src="{{ MEDIA_URL }}maps/{{ game.thumbnail_url }}" />
{% else %}
<img itemprop="image" src="{{ MEDIA_URL }}scenarios/thumbnails/{{ game.scenario.map_name }}" />
{% endif %}
</div>

{% if finished %}
<div class="time">
{% blocktrans with game.finished|date:"SHORT_DATE_FORMAT" as finished and game.finished|timeuntil:game.started as time %}
Finished on {{ finished }} after {{ time }}.{% endblocktrans %}
</div>
{% endif %}

<dl>

{% if not started and not finished %}
<dt>{% trans "Average score" %}</dt><dd>{{ game.get_average_score|score_stars }}</dd>
<dt>{% trans "Average karma" %}</dt><dd>{{ game.get_average_karma|karma_stars }}</dd>
{% endif %}

<dt>{% trans "Scenario" %}</dt><dd><a href="{% url scenario_detail game.scenario.name %}">{{ game.scenario.title }}</a></dd>
<dt>{% trans "Cities to win" %}</dt><dd>{{ game.cities_to_win }}</dd>
<dt>{% trans "Time limit" %}</dt><dd>{{ game.get_time_limit_display }}</dd>
<dt>{% trans "Creator" %}</dt><dd>{{ game.created_by.username }}</dd>

{% if not started %}

<dt>{% trans "Visible players?" %}</dt>
<dd>{{ promoted_game.visible|yesno }}</dd>
<dt>{% trans "Players" %}</dt>
<dd>
	<ul>
	{% for p in game.player_set.all %}
		{% if p.user %}
		<li><a href="{% url profile_detail username=p.user.username %}">{{ p.user.username }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</dd>
{% if game.private %}
<dt>{% trans "Invited users" %}</dt>
<dd>{{ game.invitation_set.all|join:", " }}</dd>
{% endif %}

{% endif %}


{% if game.comment %}
<dt>{% trans "Comment" %}</dt>
<dd itemprop="description">{{ game.comment }}</dd>
{% endif %}
</dl>
<ul class="section_menu">
	<li>{% rule_icons game.configuration %}</li>
	{% if game.private %}
		{% ifequal game.created_by user %}
			<li><a href="{% url invite-users game.slug %}">{% trans "Invitations" %}</a></li>
			<li><a href="{% url make-public game.slug %}">{% trans "Make public" %}</a></li>
		{% endifequal %}
	{% endif %}
	
{% if not started and not finished %}
	{% if joinable %}
	<li><a href="{% url join-game game.slug %}">{% trans "Join game" %}</a></li>
	{% else %}
	<li><a href="{% url leave-game game.slug %}">{% trans "Leave game" %}</a></li>
	{% endif %}
{% endif %}

</ul>
</div>

{% if finished %}

<h2>{% trans "Results of game" %} "{{ game.slug }}"</h2>
<p>{% blocktrans %}These are the scores for each player in the game{% endblocktrans %}</p>

<table>
	<thead>
	<tr>
	<th>{% trans "Player" %}</th>
	<th>{% trans "Country" %}</th>
	<th>{% trans "Score" %}</th>
	<th>{% trans "Cities" %}</th>
	</tr>
	</thead>
	{% for p in players %}
	<tr>
	<td>{{ p.user }}</td>
	<td>{{ p.country }}</td>
	<td class="data_c">{{ p.points }}</td>
	<td class="data_c">{{ p.cities }}</td>
	</tr>
	{% endfor %}

</table>

{% if overthrows %}
<h2>{% trans "Overthrows" %} "{{ game.slug }}"</h2>
<p>{% blocktrans %}This is the history of overthrows in this game.{% endblocktrans %}</p>

<table>
<thead>
<tr><th>{% trans "Overthrown player" %}</th>
<th>{% trans "By" %}</th>
{% for o in overthrows %}
	<tr>
	<td><a href="{% url profile_detail username=o.government.username %}">{{ o.government.username }}</a></td>
	<td><a href="{% url profile_detail username=o.opposition.username %}">{{ o.opposition.username }}</a></td>
	</tr>
{% endfor %}
</thead>
</table>
{% endif %}


{% if show_log %}
<p><a href="{% url game-log game.slug %}">{% trans "Campaign log" %}</a></p>
{% endif %}
<p><a href="{{ MEDIA_URL }}maps/{{ game.map_url }}">{% trans "Map" %}</a>.</p>

{% endif %}

<h2>{% trans "Comments" %}</h2>

{% if comments %}

<div id="game_comment_list">
{% for c in comments %}
	<div class="game_comment {% if c.after_game %}after_game{% endif %}">{{ c.comment|linebreaks }}
	<div>
	<div class="comment_info">
	{% avatar c.user 24 %}
		{% blocktrans with c.submit_date|timesince as time and c.user as user %}{{ time }} ago by {{ user }}
		{% endblocktrans %}
	</div>
	</div>
	</div>
{% endfor %}
</div>

{% endif %}

{% if user.is_authenticated %}
<form action="" method="POST" class="uniForm">
{% csrf_token %}
{{ comment_form|as_uni_form }}
<input type="submit" value="{% trans "Send" %}" />
</form>
{% endif %}

{% endblock %}

{% block right_column_extra %}
<div style="text-align: center">
<div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>
</div>

<script type="text/javascript">
window.___gcfg = {lang: "{{LANGUAGE_CODE}}", parsetags: 'onload'};

	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
</script>

{% endblock %}
