{% extends "machiavelli/base.html" %}

{% load i18n %}
{% load machiavelli_tags %}
{% load condottieri_profiles_tags %}

{% block head_title %}
{% blocktrans %}Ongoing games{% endblocktrans %}
{% endblock %}

{% block left_column %}
<h1>{% trans "Your ongoing games" %}</h1>
{% if not player_list %}
	<p>{% blocktrans %}At this moment, you are not playing any games.{% endblocktrans %}</p>
{% else %}
	<p>{% blocktrans %}These are the games that you are currently playing.{% endblocktrans %}</p>
{% endif %}
<p>
<a href="{% url games-other-active %}">{% trans "See other active games" %}</a>
</p>	

{% if player_list %}

{% for player in player_list %}
<div class="game_info {% if player.game.fast %}fast{% endif %}">
<h2 style="background: #191919 url('{{ STATIC_URL }}machiavelli/img/badge-{{ player.static_name }}.png') no-repeat top right"><span>
	<a href="{{ player.game.get_absolute_url }}">{{ player.game.slug }}</a>
</span></h2>
<div class="map">
<img src="{{ MEDIA_URL }}maps/{{ player.game.thumbnail_url }}" />
</div>
{% if player.game.started %}
<div class="time">
{% blocktrans with player.game.started|timesince as time %}Started {{ time }} ago{% endblocktrans %}
</div>
{% endif %}
<dl>
<dt>{% trans "Average score" %}</dt><dd>{{ player.game.get_average_score|score_stars }}</dd>
<dt>{% trans "Average karma" %}</dt><dd>{{ player.game.get_average_karma|karma_stars }}</dd>
<dt>{% trans "Scenario" %}</dt><dd><a href="{% url scenario_detail player.game.scenario.name %}">{{ player.game.scenario.title }}</a></dd>
<dt>{% trans "Cities to win" %}</dt><dd>{{ player.game.cities_to_win }}</dd>
<dt>{% trans "Turn" %}</dt><dd>{{ player.game.get_season_display }}, {{ player.game.year }} - {{ player.game.get_phase_display }}</dd>
<dt>{% trans "Your status" %}</dt>
{% if player.done %}
	<dd>{% trans "You have completed your actions." %}</dd>
	<dt>{% trans "Time left" %}</dt><dd>{{ player.game.next_phase_change|timeuntil }}</dd>
{% else %}
	<dd class="{{ player.get_time_status }}">
	{% ifequal player.game.phase 1 %}
		{% trans "You must adjust your units." %}
	{% endifequal %}
	{% ifequal player.game.phase 2 %}
		{% trans "You must give your orders." %}
	{% endifequal %}
	{% ifequal player.game.phase 3 %}
		{% trans "You must retreat some units." %}
	{% endifequal %}
	</dd>
	<dt>{% trans "Time to get karma" %}</dt><dd>{{ player.game.get_bonus_deadline|timeuntil }}</dd>
	<dt>{% trans "Safe time to play" %}</dt><dd>{{ player.deadline|timeuntil }}</dd>
	<dt>{% trans "Unsafe time to play" %}</dt><dd>{{ player.game.next_phase_change|timeuntil }}</dd>
{% endif %}
<dt>{% trans "Players" %}</dt>
<dd>
	{% if player.game.visible %}
	<ul>
	{% for p in player.game.player_set.all %}
		{% if p.user %}
		<li><a href="{% url profile_detail username=p.user.username %}">{{ p.user.username }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
	{% else %}
	{% trans "Players are not visible" %}
	{% endif %}
</dd>
</dl>
<ul class="section_menu">
	<li>{% trans "Version" %}: {{ player.game.version }}</li>
	<li>{% rule_icons player.game.configuration %}</li>
	<li><a href="{% url show-game player.game.slug %}">{% trans "View game" %}</a></li>
	<li><a href="{% url game-log player.game.slug %}">{% trans "Log" %}</a></li> 
	<li><a href="{% url condottieri_messages_inbox player.game.slug %}">{% trans "Inbox" %}</a></li>
	<li><a href="{% url condottieri_messages_outbox player.game.slug %}">{% trans "Outbox" %}</a></li>
</ul>
</div>
{% endfor %}

<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;</a>
		{% endif %}
		
		<span class="current">
			{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>

{% endif %}
{% endblock %}
