{% extends "machiavelli/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load condottieri_profiles_tags %}

{% block head_title %}{% trans "Hall of Fame" %}{% endblock %}

{% block left_column %}
<h1>{% trans "Hall of Fame" %}</h1>
<p>{% blocktrans %}These are the global scores for all the users in this
server{% endblocktrans %}</p>

<table style="width: 40%">
	<thead>
	<tr>
	<th colspan=2>{% trans "User" %}</th>
	<th><a href="?o=karma">{% trans "Karma" %}</a></th>
	<th><a href="?o=weighted_score">{% trans "Ranking score" %}</a></th>
	<th><a href="?o=total_score">{% trans "Total score" %}</a></th>
	<th><a href="?o=count_games">{% trans "Finished games" %}</a></th>
	<th><a href="?o=avg_score">{% trans "Average score" %}</a></th>
	<th><a href="?o=overthrows">{% trans "Overthrows" %}</a></th>
	</tr>
	</thead>
	{% for p in profiles_list %}
	<tr>
	<td>{% avatar p.user %}</td>
	<td><a href="{% url profile_detail username=p.user.username %}">{{ p }}</a></td>
	<td>{{ p.karma|karma_stars }}</td>
	<td class="data_c"><a href="{% url ranking "user" p.user.username %}">{{ p.weighted_score }}</a></td>
	<td class="data_c">
	{% if p.total_score %}
		{{ p.total_score|score_stars }} ({{ p.total_score }})
	{% else %}
		{{ 0|score_stars }} (0)
	{% endif %}
	</td>
	<td class="data_c">{{ p.count_games|default_if_none:0 }}</td>
	<td class="data_c">{{ p.avg_score|default_if_none:0 }}</td>
	<td class="data_c">{{ p.overthrows }}</td>
	</tr>
	{% endfor %}

</table>
<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}&o={{ order }}">&lt;&lt;</a>
		{% endif %}
		
		<span class="current">
			{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}&o={{ order }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>
{% endblock %}
