{% extends "machiavelli/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load stars %}

{% block head_title %}{% trans "Hall of Fame" %}{% endblock %}

{% block body %}
<h1>{% trans "Hall of Fame" %}</h1>
<p>{% blocktrans %}These are the global scores for all the users in this
server{% endblocktrans %}</p>

<table style="width: 40%">
	<thead>
	<tr>
	<th colspan=2>{% trans "User" %}</th>
	<th>{% trans "Karma" %}</th>
	<th>{% trans "Ranking score" %}</th>
	<th>{% trans "Total score" %}</th>
	<th>{% trans "Details" %}</th>
	</tr>
	</thead>
	{% for p in profiles.object_list %}
	<tr>
	<td>{% avatar p.user %}</td>
	<td><a href="{% url profile_detail username=p.user.username %}">{{ p }}</a></td>
	<td>{{ p.karma|karma_stars }}</td>
	<td class="data_c">{{ p.weighted_score }}</td>
	<td class="data_c">
	{% if p.total_score %}
		{{ p.total_score|score_stars }} ({{ p.total_score }})
	{% else %}
		{{ 0|score_stars }} (0)
	{% endif %}
	</td>
	<td><a href="{% url ranking "user" p.user.username %}">{% trans "Details" %}</a></td>
	</tr>
	{% endfor %}

</table>
<div class="pagination">
	<span class="step-links">
		{% if profiles.has_previous %}
			<a href="?page={{ profiles.previous_page_number }}">&lt;&lt;</a>
		{% endif %}
		
		<span class="current">
			{% trans "Page" %} {{ profiles.number }} {% trans "of" %} {{ profiles.paginator.num_pages }}.
		</span>

		{% if profiles.has_next %}
			<a href="?page={{ profiles.next_page_number }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>
{% endblock %}
