{% extends 'machiavelli/show_game.html' %}

{% load i18n %}

{% block actions %}

<h2>{% trans "Events per season" %}</h2>

<div class="log_pagination">
	<span class="step-links">
		{% if season_log.has_previous %}
			<a href="?{{ season_log.previous_date }}">&lt;&lt;</a>
		{% endif %}
		
		<span class="current">
			{{ season_log.year }}, {{ season_log.season_name }}
		</span>

		{% if season_log.has_next %}
			<a href="?{{ season_log.next_date }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>
<p><a href="{% url show-game game.slug %}">{% trans "Return to game" %}</a></p>

<div id="full_log" class="log_list">
<ul>
{% for event in season_log.object_list %}
{{ event.color_output|safe }}
{% endfor %}
</ul>
</div>

<div class="log_pagination">
	<span class="step-links">
		{% if season_log.has_previous %}
			<a href="?{{ season_log.previous_date }}">&lt;&lt;</a>
		{% endif %}
		
		<span class="current">
			{{ season_log.year }}, {{ season_log.season_name }}
		</span>

		{% if season_log.has_next %}
			<a href="?{{ season_log.next_date }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>
<p><a href="{% url show-game game.slug %}">{% trans "Return to game" %}</a></p>

{% endblock %}
