{% extends 'machiavelli/base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Log" %}: {{ game.slug }}{% endblock %}

{% block body %}
<h1>{% trans "Log of the game" %} "{{ game.slug }}"</h1>
<div id="game_info">
<ul>
<li>{% trans "Year" %}: {{ game.year }}</li>
<li>{% trans "Season" %}: {{ game.get_season_display }}</li>
<li>{% trans "Phase" %}: {{ game.get_phase_display }}</li>
<li>{% trans "Time left" %}: {{ game.next_phase_change|timeuntil }}</li>
<li>{% trans "Power" %}: {{ player.country }}</li>
</ul>
</div>

<div class="pagination">
	<span class="step-links">
		{% if log.has_previous %}
			<a href="?{{ log.previous_date }}">&lt;&lt;</a>
		{% endif %}
		
		<span class="current">
			{{ log.year }}, {{ log.season_name }}
		</span>

		{% if log.has_next %}
			<a href="?{{ log.next_date }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>
<div id="log">
<ul>
{% for event in log.object_list %}
{{ event.color_output|safe }}
{% endfor %}
</ul>
</div>

<p><a href="{% url show-game game.slug %}">{% trans "Return to game" %}</a></p>

{% endblock %}
