{% extends "machiavelli/base.html" %}

{% load i18n %}
{% load cache %}

{% get_current_language as LANGUAGE_CODE %}

{% block head_title %}{% trans "Scenarios" %}{% endblock %}

{% block left_column %}
{% cache 3600 scenarios LANGUAGE_CODE %}
<h1>{% trans "Scenarios" %}</h1>
<table>
<thead><tr>
<th>{% trans "Title" %}</th>
<th>{% trans "Start year" %}</th>
<th>{% trans "Players" %}</th>
<th>{% trans "Scores" %}</th>
<th>{% trans "Stats" %}</th>
</tr></thead>
{% for s in scenarios %}
<tr>
<td><a href="{% url show-scenario s.pk %}">{% trans s.title %}</a></td>
<td class="data_c">{{ s.start_year }}</td>
<td class="data_c">{{ s.number_of_players }}</td>
<td><a href="{% url ranking "scenario" s.name %}">{% trans "See scores" %}</a></td>
<td><a href="{% url scenario-stats scenario_id=s.id %}">{% trans "See stats" %}</a></td>
</tr>
{% endfor %}
</table>

{% endcache %}
{% endblock %}
