{% extends "machiavelli/base.html" %}


{% load i18n %}
{% load machiavelli_tags %}
{% load avatar_tags %}

{% block head_title %}
{% if player %}
	{% if player.done %}
		[&bull;]
	{% else %}
		[ ]
	{% endif %}
{% endif %}
 {{ game.slug }}
{% endblock %}

{% block body %}
<div id="game_info">
<ul>
<li id="cities_to_win">
{% if game.is_team_game %}
30*
{% else %}
{{ game.cities_to_win }}
{% endif %}
</li>
<li>{{ game.slug }}</li>
<li>{{ game.year|default_if_none:"" }} |
{{ game.get_season_display|default_if_none:"" }} |
{{ game.get_phase_display }}</li>
<li>
{% if player and game.slots == 0 %}
	{% if time_exceeded %}
	<span style="color: LightCoral">
	{{ game.next_phase_change|timeuntil }} 
	</span>
	{% else %}
	<span style="color: Green">
	{{ player.next_phase_change|timeuntil }}
	</span>
	{% endif %}
{% else %}
	{{ game.next_phase_change|timeuntil }}</li>
{% endif %}
</li>
{% if player %}
<li>
	{% if player.contender.country %}
		{{ player.contender.country }}
	{% endif %}
</li>
{% else %}
<li>
		{% ifnotequal game.slots 0 %}
			<a href="{% url machiavelli.views.join_game game.pk %}">{% trans "Join game" %}</a>
		{% endifnotequal %}
</li>
{% endif %}
{% if rules %}
<li>
{% rule_icons game.configuration %}
</li>
{% endif %}

{% if ducats %}
<li>{% trans "Ducats" %}: {{ ducats }}</li>
{% endif %}

{% if player %}
<li>
	{% if player.unread_count > 0 %}
	<a href="{% url condottieri_messages_inbox game.slug %}"><img src="{{ STATIC_URL }}condottieri_messages/img/unread-icon.png" title="{% trans "You have new mail" %}" /></a>
	{% else %}
	<a href="{% url condottieri_messages_inbox game.slug %}"><img src="{{ STATIC_URL }}condottieri_messages/img/inbox-icon.png" title="{% trans "Inbox" %}" /></a>
	{% endif %}
	<a href="{% url condottieri_messages_outbox game.slug %}"><img src="{{ STATIC_URL }}condottieri_messages/img/outbox-icon.png" title="{% trans "Outbox" %}" /></a>
</li>
{% endif %}
</ul>
</div>



<div class="col1">
<div id="powers">
{% if player.contender.country %}
<div style="text-align: center">
<img src="{{ STATIC_URL }}machiavelli/img/banner-{{ player.static_name }}.png" />
</div>
{% endif %}
{% if game.slots == 0 %} {# show all the powers info #}
{% for p in player_list %}
	{% if p.user %}
	<div class="player {{ p.static_name }}">
	<div><strong>{{ p.contender.country }}</strong>
	{% if p.conqueror %}
		({{ p.conqueror.contender.country }})
	{% endif %}
	{% if p.is_excommunicated %}
	<img src="{{ STATIC_URL }}machiavelli/img/excommunication-icon-16.png" />
	{% endif %}
	</div>
	{% if show_users %}
	<div><a href="{% url profile_detail username=p.user.username %}">{% avatar p.user 20 %}{{ p.user.username }}</a></div>
	{% endif %}
	<div>{% trans "Cities:" %} {{ p.number_of_cities }}</div>
	<div>{% trans "Units:" %} {{ p.placed_units_count }}</div>
{% if player %}
	{% ifnotequal game.phase 0 %}
	{% ifnotequal p player %}
	{% ifnotequal p.eliminated 1 %}
	<div>
	<a href="{% url condottieri_messages_compose sender_id=player.id recipient_id=p.id %}"><img src="{{ STATIC_URL }}machiavelli/img/envelope.png" title="{% trans "Send message" %}" /></a>
	{% if game.configuration.finances %}
		<a href="{% url lend game.slug p.id %}"><img src="{{ STATIC_URL }}machiavelli/img/coin.png" title="{% trans "Give money" %}" /></a>
	{% endif %}
	{% if can_excommunicate %}
		{% ifnotequal p.is_excommunicated 1 %}
		<a href="{% url excommunicate game.slug p.id %}"><img src="{{ STATIC_URL }}machiavelli/img/excommunication-icon-16.png" title="{% trans "Excommunicate" %}" /></a>
		{% endifnotequal %}
	{% endif %}
	{% if can_forgive %}
		{% ifequal p.is_excommunicated 1 %}
		<a href="{% url forgive-excommunication game.slug p.id %}"><img src="{{ STATIC_URL }}machiavelli/img/forgive-icon-16.png" title="{% trans "Forgive" %}" /></a>
		{% endifequal %}
	{% endif %}
	</div>
	{% endifnotequal %}
	{% endifnotequal %}
	{% endifnotequal %}
{% endif %}
	</div>
	{% endif %}
{% endfor %}

{% else %} {# show only the user names of the players #}
	{% if show_users %}
	<div>{% trans "Current players" %}</div>
	<ul>
		{% for p in player_list %}
			<li>{{ p.user.username }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endif %}
</div>
</div>

<div class="col2">
	<div id="map" class="viewer">
	</div>
</div>

<div class="col3">

<div id="log">
<h3>{% trans "Campaign log" %}</h3>
<ul>
{% for l in log %}
{{ l.color_output|safe }}
{% endfor %}
</ul>
</div>
<div class="menu">
<p><a href="{% url game-log game.slug %}">{% trans "See all" %}</a> | 
<a href="{% url turn-log-list game.slug %}">{% trans "Process" %}</a></p>
</div>
</div>

<div class="clear"></div>

<div id="actions">
{% block actions %}{% endblock %}
</div>
<div id="mini_shoutbox">
<h2>{% trans "Journal" %}</h2>
<p>{{ excerpt|linebreaks }}</p>
<p><a href="{% url edit-journal game.slug %}">{% trans "Edit journal" %}</a></p>
{% if game.configuration.gossip %}
<h2>{% trans "Gossip" %}</h2>
<ul>
{% for w in whispers %}
{{ w.as_li|safe }}
{% endfor %}
</ul>
{% if whisper_form %}
<form action="{% url new-whisper game.slug %}" method="POST">
{% csrf_token %}
{{ whisper_form.text }}
<input type="submit" value="{% trans "Send" %}" />
</form>
{% endif %}
<p><a href="{% url whisper-list game.slug %}">{% trans "Show all" %}</a></p>
{% endif %}
</div>

{% endblock %}


{% block extra_body %}
{% block extra_game %}{% endblock %}
<script src="{{ STATIC_URL }}js/jquery.mousewheel.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.iviewer.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		makeLayout();
	});

	function makeLayout() {
		var MEDIA_URL = "{{ MEDIA_URL }}";
		var viewer_opts = {
			src: MEDIA_URL + "maps/{{ map }}",
			ui_disabled: true,
			zoom: "fit",
			zoom_max: 100,
			zoom_min: 10,
			zoom_delta: 1.4,
			//zoom_base:
			update_on_resize: true
		};

		$("#map").iviewer(viewer_opts);
	}
</script>


{% endblock %}
