{% extends "machiavelli/base_game.html" %}

{% load i18n %}
{% load avatar_tags %}


{% block game_body %}
<div class="col2">
	<div id="map" class="viewer">
	</div>
</div>

<div class="col3">

{% if game.slots == 0 %}
<div id="countries">
<table>
<thead>
	<tr>
	<th>{% trans "Country" %}</th>
	{% if show_users %}
	<th>{% trans "User" %}</th>
	{% endif %}
	<th><img src="{{ STATIC_URL }}machiavelli/img/city-icon-16.png" title="{% trans "Cities" %}"/></th>
	<th><img src="{{ STATIC_URL }}machiavelli/img/unit-icon-16.png" title="{% trans "Units" %}"/></th>
	<th>{% trans "Actions" %}</th>
</thead>
	</tr>
	{% for p in player_list %}
	{% if p.user %}
	<tr class="{{ p.static_name }}">

		<td>
		{% if game.is_team_game %}
			[{{ p.team.pk }}]
		{% endif %} 
		{{ p.contender.country }} {% if p.conqueror %}({{ p.conqueror.contender.country }}){% endif %}
		{% if show_religions %}
			{% if p.contender.country.religion %}
		<img src="{{ MEDIA_URL }}scenarios/religions/{{ p.contender.country.religion.slug }}.png" title="{{ p.contender.country.religion.name }}" />
			{% endif %}
		{% endif %}
		{% if p.is_excommunicated %}
		<img src="{{ STATIC_URL }}machiavelli/img/excommunication-icon-16.png" title="{% trans "Excommunicated" %}" />
		{% endif %}
		{% if p.surrendered %}
		<img src="{{ STATIC_URL }}machiavelli/img/surrender-icon-16.png" title="{% trans "Surrendered" %}" />
		{% endif %}
		</td>

		{% if show_users %}
		<td><a href="{% url profile_detail username=p.user.username %}" title="{{ p.user.username }}">{% avatar p.user 20 %}</a></td>
		{% endif %}

		<td style="text-align: center">{{ p.number_of_cities }}</td>
		<td style="text-align: center">{% if not fow %}{{ p.placed_units_count }}{% endif %}</td>

		<td><!-- actions -->
{% if player %}
	{% ifnotequal game.phase 0 %}
	{% ifnotequal p player %}
	{% ifnotequal p.eliminated 1 %}
	<div>
	{% if not game.is_team_game and letters %}
	<a href="{% url condottieri_messages_compose sender_id=player.id recipient_id=p.id %}"><img src="{{ STATIC_URL }}machiavelli/img/envelope.png" title="{% trans "Send message" %}" /></a>
	{% endif %}
	{% if game.configuration.finances %}
		<a href="{% url lend game.slug p.id %}"><img src="{{ STATIC_URL }}machiavelli/img/coin.png" title="{% trans "Give money" %}" /></a>
	{% endif %}
	{% if can_excommunicate %}
		{% ifnotequal p.is_excommunicated 1 %}
		<a href="{% url excommunicate game.slug p.id %}"><img src="{{ STATIC_URL }}machiavelli/img/excommunication-icon-16.png" title="{% trans "Excommunicate" %}" /></a>
		{% endifnotequal %}
	{% endif %}
	{% if can_forgive %}
		{% ifequal p.is_excommunicated 1 %}
		<a href="{% url forgive-excommunication game.slug p.id %}"><img src="{{ STATIC_URL }}machiavelli/img/forgive-icon-16.png" title="{% trans "Forgive" %}" /></a>
		{% endifequal %}
	{% endif %}
	</div>
	{% endifnotequal %}
	{% endifnotequal %}
	{% endifnotequal %}
{% endif %}
		</td><!-- actions -->

	</tr>
	{% endif %}
	{% endfor %}
</table>
</div>
{% endif %}

<div class="log_list">
<h3>{% trans "Campaign log" %}</h3>
<div class="menu">
<p><a href="{% url gamearea-list game.slug %}">{% trans "Areas list" %}</a>
| <a href="{% url game-log game.slug %}">{% trans "See all" %}</a>
{% if not fow %}
| <a href="{% url turn-log-list game.slug %}">{% trans "Process" %}</a></p>
{% endif %}
</div>
<ul>
{% for l in log %}
{{ l.color_output|safe }}
{% endfor %}
</ul>
</div>

</div>

<div class="clear"></div>

<div id="actions">
{% block actions %}{% endblock %}
</div>
<div id="mini_shoutbox">

{% if player %}
<h2>{% trans "Journal" %}</h2>
<p>{{ excerpt|linebreaks }}</p>
<p><a href="{% url edit-journal game.slug %}">{% trans "Edit journal" %}</a></p>
{% endif %}

{% if game.configuration.gossip %}
<h2>{% trans "Gossip" %}</h2>
<ul>
{% for w in whispers %}
{{ w.as_li|safe }}
{% endfor %}
</ul>
{% if whisper_form %}
<form action="{% url new-whisper game.slug %}" method="POST">
{% csrf_token %}
{{ whisper_form.text }}
<input type="submit" value="{% trans "Send" %}" />
</form>
{% endif %}
<p><a href="{% url whisper-list game.slug %}">{% trans "Show all" %}</a></p>
{% endif %}

{% if player %}
<h2>{% trans "Surrender" %}</h2>
<p><a href="{% url surrender game.slug %}">{% trans "Surrender" %}</a></p>
{% endif %}

</div>

{% endblock %}


{% block extra_body %}
{% block extra_game %}{% endblock %}
<script src="{{ STATIC_URL }}js/jquery.mousewheel.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.iviewer.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		makeLayout();
	});

	function makeLayout() {
		var viewer_opts = {
			src: "{{ map }}",
			ui_disabled: true,
			zoom: "fit",
			zoom_max: 100,
			zoom_min: 10,
			zoom_delta: 1.4,
			//zoom_base:
			update_on_resize: true
		};

		$("#map").iviewer(viewer_opts);
	}
</script>


{% endblock %}
