{% extends "machiavelli/base_game.html" %}

{% load i18n %}
{% load avatar_tags %}


{% block game_body %}
<div id="map" class="viewer"></div>
<div id="actions">
	{% block actions %}{% endblock %}
</div>
{% endblock %}


{% block game_sidebar %}

{% if game.slots == 0 %}
<div id="countries">
	<table>
	<thead>
		<tr>
		<th>{% trans "Country" %}</th>
		{% if game.visible %}
		<th>{% trans "User" %}</th>
		{% endif %}
		<th><img src="{{ STATIC_URL }}machiavelli/img/city-icon-16.png" title="{% trans "Cities" %}"/></th>
		<th><img src="{{ STATIC_URL }}machiavelli/img/unit-icon-16.png" title="{% trans "Units" %}"/></th>
		<th>{% trans "Actions" %}</th>
		</tr>
	</thead>
	{% if game.is_team_game %}
		{% for team in teams %}
			<tr><td class="team_header">{{ team.name }} &rarr; {{ team.cities_count }}</td></tr>
			{% for p in team.player_set.all %}
				{% include 'machiavelli/_player_row.html' %}
			{% endfor %}
		{% endfor %}
	{% else %}
		{% for p in player_list %}
			{% include 'machiavelli/_player_row.html' %}
		{% endfor %}
	{% endif %}
</table>
</div>
{% endif %}

<div class="log_list">
<h2>{% trans "Campaign log" %}</h2>
<div class="menu">
<p><a href="{% url gamearea-list game.slug %}">{% trans "Areas list" %}</a>
| <a href="{% url scenario_detail game.scenario.name %}">{% trans "Scenario" %}</a>
| <a href="{% url game-log game.slug %}">{% trans "All events" %}</a>
{% if not game.configuration.fow %}
| <a href="{% url turn-log-list game.slug %}">{% trans "Process" %}</a></p>
{% endif %}
</div>
<ul>
{% for l in log %}
{{ l.color_output|safe }}
{% endfor %}
</ul>
</div>

<!--</div>-->


{% if game.configuration.gossip %}
<div id="whispers">
<h2>{% trans "Gossip" %}</h2>
<ul>
{% for w in whispers %}
{{ w.as_li|safe }}
{% endfor %}
</ul>
{% if whisper_form %}
<form action="{% url new-whisper game.slug %}" method="POST">
{% csrf_token %}
{{ whisper_form.text }}
<div>
<input type="submit" value="{% trans "Send" %}" />
</div>
</form>
{% endif %}
<p><a href="{% url whisper-list game.slug %}">{% trans "Show all" %}</a></p>
</div>
{% endif %}

{% if player %}
<div id="mini_journal">
<h2>{% trans "Journal" %}</h2>
<p>{{ excerpt|linebreaks }}</p>
<p><a href="{% url edit-journal game.slug %}">{% trans "Edit journal" %}</a></p>
</div>
{% endif %}

{% if player %}
<div id="game_management">
<h2>{% trans "Game management" %}</h2>
<ul>
<li><a href="{% url surrender game.slug %}">{% trans "Surrender" %}</a></li>
<li><a href="{% url new-report game.slug %}">{% trans "Report error" %}</a></li>
</ul>
</div>
{% endif %}


{% endblock %}


{% block extra_body %}
{% block extra_game %}{% endblock %}
<script src="{{ STATIC_URL }}js/jquery.mousewheel.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.iviewer.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		makeLayout();
	});

	function makeLayout() {
		var viewer_opts = {
			src: "{{ map }}",
			ui_disabled: true,
			zoom: "fit",
			zoom_max: 100,
			zoom_min: 10,
			zoom_delta: 1.4,
			//zoom_base:
			update_on_resize: true
		};

		$("#map").iviewer(viewer_opts);
	}
</script>


{% endblock %}
