{% extends 'machiavelli/show_game.html' %}

{% load uni_form_tags %}
{% load avatar_tags %}
{% load i18n %}

{% block actions %}
<div class="action_block">

<h2>{% trans "Team messages in the game" %} "{{ game.slug }}"</h2>
<div id="team_messages">
{% for m in message_list %}
	<div class="team_message {% if m.player == player %}own_message{% endif %}">{{ m.text|linebreaks }}
	<div>
	<div class="message_info">
	{% avatar m.player.user 24 %}
		{% blocktrans with m.created_at|timesince as time and m.player.contender.country as country %}{{ time }} ago by {{ country }}{% endblocktrans %}
	</div>
	</div>
	</div>
{# m.as_li|safe #}
{% endfor %}
</div>

<form action="" method="POST" class="uniForm">
{% csrf_token %}
{{ form|as_uni_form }}
<p><input type="submit" value="{% trans "Send" %}" /></p>
</form>

<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;</a>
		{% endif %}
		
		<span class="current">
			{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>

<p><a href="{% url "show-game" game.slug %}">{% trans "Return to game" %}</a></p>

</div>
{% endblock %}
