{% extends 'machiavelli/show_game.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Gossip" %}: {{ game.slug }}{% endblock %}

{% block actions %}
<h2>{% trans "Gossip in the game" %} "{{ game.slug }}"</h2>
<div id="whispers">
<ul>
{% for w in whisper_list %}
{{ w.as_li|safe }}
{% endfor %}
</ul>
</div>

{% if player %}
<form action="" method="post" class="uniForm">
{% csrf_token %}
{{ form|crispy }}
<p><input type="submit" value="{% trans "Send" %}" /></p>
</form>
{% endif %}

<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;</a>
		{% endif %}
		
		<span class="current">
			{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>

<p><a href="{% url "show-game" game.slug %}">{% trans "Return to game" %}</a></p>

{% endblock %}
