{% extends 'machiavelli/base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Gossip" %}: {{ game.slug }}{% endblock %}

{% block body %}
<h1>{% trans "Gossip in the game" %} "{{ game.slug }}"</h1>
<div id="shoutbox">
<ul>
{% for w in whisper_list %}
{{ w.as_li|safe }}
{% endfor %}
</ul>
</div>

<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;</a>
		{% endif %}
		
		<span class="current">
			{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>

<p><a href="{% url show-game game.slug %}">{% trans "Return to game" %}</a></p>

{% endblock %}
